<!-- layouts/default.astro -->
---
import Header from "../components/Header.astro";
---
<html>
  <head>
    <title>Your Site Title</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
